<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>stgeorge</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
    	<servlet-name>ActionServlet</servlet-name>
    	<servlet-class>com.gotcha.action.ActionServlet</servlet-class>
	</servlet>
	<servlet>
    	<servlet-name>Login</servlet-name>
    	<servlet-class>com.gotcha.action.Login</servlet-class>
	</servlet>
	<servlet>
    	<servlet-name>Logout</servlet-name>
    	<servlet-class>com.gotcha.action.Logout</servlet-class>
	</servlet>
	<servlet>
    	<servlet-name>GetUser</servlet-name>
    	<servlet-class>com.gotcha.action.GetUser</servlet-class>
	</servlet>
	<servlet>
    	<servlet-name>SaveUser</servlet-name>
    	<servlet-class>com.gotcha.action.SaveUser</servlet-class>
	</servlet>
	<servlet>
    	<servlet-name>EditUser</servlet-name>
    	<servlet-class>com.gotcha.action.EditUser</servlet-class>
	</servlet>
	<servlet>
    	<servlet-name>DeleteUser</servlet-name>
    	<servlet-class>com.gotcha.action.DeleteUser</servlet-class>
	</servlet>
	<servlet>
    	<servlet-name>DeletePost</servlet-name>
    	<servlet-class>com.gotcha.action.DeletePost</servlet-class>
	</servlet>
	<servlet>
    	<servlet-name>SavePost</servlet-name>
    	<servlet-class>com.gotcha.action.SavePost</servlet-class>
	</servlet>
	<servlet>
    	<servlet-name>GetPost</servlet-name>
    	<servlet-class>com.gotcha.action.GetPost</servlet-class>
	</servlet>
	<servlet>
    	<servlet-name>GetStarredPosts</servlet-name>
    	<servlet-class>com.gotcha.action.GetStarredPosts</servlet-class>
	</servlet>
	<servlet>
    	<servlet-name>GetPinnedPosts</servlet-name>
    	<servlet-class>com.gotcha.action.GetPinnedPosts</servlet-class>
	</servlet>
	<servlet>
    	<servlet-name>GetDetailedPosts</servlet-name>
    	<servlet-class>com.gotcha.action.GetDetailedPosts</servlet-class>
	</servlet>
	<servlet>
    	<servlet-name>GetNews</servlet-name>
    	<servlet-class>com.gotcha.action.GetNews</servlet-class>
	</servlet>
	<servlet>
    	<servlet-name>GetPosts</servlet-name>
    	<servlet-class>com.gotcha.action.GetPosts</servlet-class>
	</servlet>
	<servlet>
    	<servlet-name>StarPost</servlet-name>
    	<servlet-class>com.gotcha.action.StarPost</servlet-class>
	</servlet>
	<servlet>
    	<servlet-name>UnStarPost</servlet-name>
    	<servlet-class>com.gotcha.action.UnStarPost</servlet-class>
	</servlet>
	<servlet>
    	<servlet-name>DetailPost</servlet-name>
    	<servlet-class>com.gotcha.action.DetailPost</servlet-class>
	</servlet>
	<servlet>
    	<servlet-name>PinPost</servlet-name>
    	<servlet-class>com.gotcha.action.PinPost</servlet-class>
	</servlet>
	<servlet>
    	<servlet-name>UnDetailPost</servlet-name>
    	<servlet-class>com.gotcha.action.UnDetailPost</servlet-class>
	</servlet>
	<servlet>
    	<servlet-name>UnPinPost</servlet-name>
    	<servlet-class>com.gotcha.action.UnPinPost</servlet-class>
	</servlet>
	<servlet>
    	<servlet-name>SaveEditPost</servlet-name>
    	<servlet-class>com.gotcha.action.SaveEditPost</servlet-class>
	</servlet>
	<servlet>
    	<servlet-name>DeleteImage</servlet-name>
    	<servlet-class>com.gotcha.action.DeleteImage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>/ActionServlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetUser</servlet-name>
		<url-pattern>/GetUser/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveUser</servlet-name>
		<url-pattern>/SaveUser/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditUser</servlet-name>
		<url-pattern>/EditUser/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteUser</servlet-name>
		<url-pattern>/DeleteUser/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>DeletePost</servlet-name>
		<url-pattern>/DeletePost/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SavePost</servlet-name>
		<url-pattern>/SavePost/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetPost</servlet-name>
		<url-pattern>/GetPost/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetNews</servlet-name>
		<url-pattern>/GetNews/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetPosts</servlet-name>
		<url-pattern>/GetPosts/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetStarredPosts</servlet-name>
		<url-pattern>/GetStarredPosts/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetPinnedPosts</servlet-name>
		<url-pattern>/GetPinnedPosts/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetDetailedPosts</servlet-name>
		<url-pattern>/GetDetailedPosts/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StarPost</servlet-name>
		<url-pattern>/StarPost/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UnStarPost</servlet-name>
		<url-pattern>/UnStarPost/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DetailPost</servlet-name>
		<url-pattern>/DetailPost/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UnDetailPost</servlet-name>
		<url-pattern>/UnDetailPost/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PinPost</servlet-name>
		<url-pattern>/PinPost/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UnPinPost</servlet-name>
		<url-pattern>/UnPinPost/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveEditPost</servlet-name>
		<url-pattern>/SaveEditPost/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteImage</servlet-name>
		<url-pattern>/DeleteImage/*</url-pattern>
	</servlet-mapping>
</web-app>
